<header class="header" role="banner">
  <nav class="navbar" style="">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
        <img src="{{uiRootPath}}/img/docs_logo.png" style="height:40px">
      </a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field has-filter">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
	  <label class="filter checkbox">
            <input type="checkbox" data-facet-filter="component:{{page.component.name}}"> In this project
          </label>
        </div>
      </div>
      {{/if}}
      <!-- We don't have anything in the menu, but the burger still appears
           on mobile devices. So let's remove it. -->
      <!--<button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>-->
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

      </div>
    </div>
  </nav>
</header>
