:root {
  --navbar-height: 3.25rem;
}

.alert {
  /* display: flex; */
  background-color: #ffdfcf;
  border-radius: .35rem;
  border: 1px solid transparent;
  padding: 0.15rem 0.5rem;
  margin-top: 1rem;
  align-items: center;
}

.alert .fas {
  padding-right: 7px;
}

.eol {
  background-color: #fff3cd;
  color: #664d03;
  border-color: #ffecb5;
}

.prerelease {
  background-color: #cff4fc;
  color: #055160;
  border-color: #b6effb;
}

.alert svg {
  margin-right: .5rem;
  flex-shrink: 0;
}

.navigation-explore .context .version::after {
 margin-right: 0.15rem;
 content: "";
}

.navbar {
  background-image: linear-gradient(to bottom, #eee 0%, #ddd 100%);
}

.nav-panel-explore .context {
  font-size: 0.75rem;
}

.nav-container, .nav-menu {
  background-color: #dedede;
}

.nav-panel-explore:not(:first-child) {
  max-height: 100%;
}

.nav-panel-menu {
  overflow-y: auto;
}

.toolbar {
  background-color:#eee;
  font-size:.75rem;
}

.page-languages {
  display: block;
}

.edit-this-page {
  display: block;
}
  
.is-current-page > .nav-link, .is-current-page > .nav-text {
  font-weight: 700;
}

.toolbar a .fas:hover {
  color: #0275d8;
}
